<!DOCTYPE html>
<html>
<head>
<style>
#customers {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  border: 1px solid #ddd;
  padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04AA6D;
  color: white;
}
</style>
</head>
<body>
@for (data of user; track $index) {

  <h1>A Fancy Table</h1>

  <table id="customers">
    <tr>
      <th>ID</th>
      <th>NAME</th>
      <th>EMAIL</th>
      <th>ADDRESS</th>
      
    </tr>
  
    <tr>
      <td></td>
      <td>{{data.name}}</td>
      <td>{{data.email}}</td>
      <td>{{data.address.street}}</td>
     
    </tr>
  
  </table>
  <select name="" id="" class="form-select">
    @for (data of user; track $index) {
      <option value="">{{data.name}}</option>
    }
  </select>
}

</body>
</html>


